# Questions 1:
How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

# Questions 2:
How to create a series from a numpy array?

In [2]:
import numpy as np
x = np.array([1,2,3,4,5,6,7,8,9,10])
y=pd.Series(x)
print(y)
w = pd.DataFrame(y)
print(w.index)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32
RangeIndex(start=0, stop=10, step=1)

# Questions 3:
How to convert the index of a series into a column of a dataframe?

In [3]:
y = pd.Series({1:'Apple',2:'Ball',3:'Cat',4:'Dog',5:'Elephant'})
print(y)
w = pd.DataFrame(y)
w["Index"] = y.index
w.reset_index(drop=True,inplace = True)
w.rename(columns={0:"Name"},inplace=True)
w

1       Apple
2        Ball
3         Cat
4         Dog
5    Elephant
dtype: object

       Name  Index
0     Apple      1
1      Ball      2
2       Cat      3
3       Dog      4
4  Elephant      5

# Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [11]:
import seaborn as sns
datasets = sns.get_dataset_names();
print(datasets)
data = sns.load_dataset("mpg")

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

# Questions 5:
Which country origin cars are a part of this dataset?

In [5]:
origin = data.origin.unique()
print(origin)

['usa' 'japan' 'europe']

In [6]:
usa_cars = data[data["origin"]=="usa"]
print(usa_cars)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]